In [2]:
import pandas as pd
import numpy as np

In [5]:
print(f"pandas version info: {pd.__version__}")
print(f"numpy version info: {np.__version__}")

pandas version info: 1.0.5
numpy version info: 1.18.5

# Imputation

### 1. 열 별로 결측치가 포함된 레코드의 수 세기 (Determining the number of NA values in columns)

In [13]:
panda_members = {'Name' : ['Ace', 'Baam', 'Choco', "Dill", "Eren", "Foo"],
                'Bamboo': [20, np.nan, 7, np.nan, np.nan, 20],
                'Water': [30, 40, 10, np.nan, 11, 20,]}


DF = pd.DataFrame.from_dict(panda_members)

DF.isna().sum()

Name      0
Bamboo    3
Water     1
dtype: int64