In [2]:
import pandas as pd
import numpy as np

In [5]:
print(f"pandas version info: {pd.__version__}")
print(f"numpy version info: {np.__version__}")

pandas version info: 1.0.5
numpy version info: 1.18.5

# groupby

### 1. 그룹 별로 평균 값 구하기 (get average value of each column per group)

In [15]:
panda_members = {'Name' : ['Ace', 'Baam', 'Choco', "Dill", "Eren", "Foo"],
                'Bamboo': [20, 11, 7, 12, 12, 20],
                'Water': [30, 40, 10, 32, 11, 20],
                'Class': ["A","A","C","B","B","C"]}


DF = pd.DataFrame.from_dict(panda_members)

In [16]:
DF.groupby("Class").mean()

       Bamboo  Water
Class
A        15.5   35.0
B        12.0   21.5
C        13.5   15.0

### 2. 그룹 별로 Multi level one-hot encoding 하기 (one-hot encoding for multi-level column data)

In [55]:
panda_members = {'Hobby' : ['Rolling', 'Sleeping', 'Playing Dead', "Playing Dead", "Sleeping", "Rolling", "Eating","Playing Dead"],
                 'Age': [20, 20, 11, 12, 12, 11, 11, 12],
                'Name': ["Ace","Ace","Choco","Baam","Baam","Choco","Choco","Baam"]}

DF = pd.DataFrame.from_dict(panda_members)

In [60]:
DF[["Name"]].join(pd.get_dummies(DF.Hobby).add_prefix("Hobbies_of_pandas_")).groupby("Name").max()

,Hobbies_of_pandas_Eating,Hobbies_of_pandas_Playing Dead,Hobbies_of_pandas_Rolling,Hobbies_of_pandas_Sleeping
Name,,,,
Ace,0,0,1,1
Baam,0,1,0,1
Choco,1,1,1,0

In [61]:
DF.pivot_table(index=['Name'], columns=['Hobby'], aggfunc=[len], fill_value=0)

         len
         Age
Hobby Eating Playing Dead Rolling Sleeping
Name
Ace        0            0       1        1
Baam       0            2       0        1
Choco      1            1       1        0