In [2]:
import pandas as pd
import numpy as np

In [3]:
print(f"pandas version info: {pd.__version__}")
print(f"numpy version info: {np.__version__}")

pandas version info: 1.0.5
numpy version info: 1.18.5

# Create and Load

### 1. 리스트로 새로운 데이터프레임 만들기 (Creating new DataFrame from lists)

In [2]:

panda_members = [['Ace', 20, 30], ['Baam', 12, 40], ['Choco', 7, 10]] 

# Create the pandas DataFrame 
DF = pd.DataFrame(panda_members, columns = ['Name', 'Bamboo' ,'Water']) 

DF

    Name  Bamboo  Water
0    Ace      20     30
1   Baam      12     40
2  Choco       7     10

### 2. 딕셔너리로 새로운 데이터 프레임 만들기 (Creating new DataFrame from dict of lists)

In [5]:

panda_members = {'Name' : ['Ace', 'Baam', 'Choco'],
                'Bamboo': [20, 12, 7],
                'Water': [30, 40, 10]}


DF = pd.DataFrame.from_dict(panda_members)
# DF = pd.DataFrame.from_dict(panda_members)

DF

    Name  Bamboo  Water
0    Ace      20     30
1   Baam      12     40
2  Choco       7     10

### 3. 복수의 데이터 프레임 병합하기 (merging multiple(more than 2) DataFrames)

In [8]:
panda_members = {'Name' : ['Ace', 'Baam', 'Choco'],
                'Bamboo': [20, 12, 7],
                'Water': [30, 40, 10]}

DF = pd.DataFrame.from_dict(panda_members)
# DF = pd.DataFrame.from_dict(panda_members)

# make a list of DF objects
DF_list=[DF,DF,DF]

from functools import reduce
reduce(lambda left,right: pd.merge(left,right,left_index=True,right_index=True), DF_list )

  Name_x  Bamboo_x  Water_x Name_y  Bamboo_y  Water_y   Name  Bamboo  Water
0    Ace        20       30    Ace        20       30    Ace      20     30
1   Baam        12       40   Baam        12       40   Baam      12     40
2  Choco         7       10  Choco         7       10  Choco       7     10

In [9]:
panda_members = {'Name' : ['Ace', 'Baam', 'Choco'],
                'Bamboo': [20, 12, 7],
                'Water': [30, 40, 10]}

DF = pd.DataFrame.from_dict(panda_members)
# DF = pd.DataFrame.from_dict(panda_members)

# make a list of DF objects
DF_list=[DF,DF,DF]

pd.concat(DF_list,axis=1)

    Name  Bamboo  Water   Name  Bamboo  Water   Name  Bamboo  Water
0    Ace      20     30    Ace      20     30    Ace      20     30
1   Baam      12     40   Baam      12     40   Baam      12     40
2  Choco       7     10  Choco       7     10  Choco       7     10

### 4. 기존의 데이터프레임에 새로운 행 추가하기 (Appending a new row to an existing DataFrame)

In [10]:
panda_members = {'Name' : ['Ace', 'Baam', 'Choco'],
                'Bamboo': [20, 12, 7],
                'Water': [30, 40, 10]}

DF = pd.DataFrame.from_dict(panda_members)

In [12]:
new_info_list=['Dill',30,40]
DF.append(pd.Series(new_info_list, index=['Name','Bamboo','Water']), ignore_index=True)

    Name  Bamboo  Water
0    Ace      20     30
1   Baam      12     40
2  Choco       7     10
3   Dill      30     40

### 5. 새로운 열을 추가하지 않고 기존의 열에 새로운 값을 병합하기 (replacing columns using existing DF)

In [40]:
panda_members = {'Name' : ['Ace', 'Baam', 'Choco'],
                'Bamboo': [20, 12, 7],
                'Water': [30, 40, 10]}

DF = pd.DataFrame.from_dict(panda_members)

In [41]:
panda_members_2 = {'Name' : ['Dill', 'Elis', 'Fatt'],
                'Age': [3, 10, 30],
                'Water': [5, 4, 50]}

DF_2 = pd.DataFrame.from_dict(panda_members_2)

In [42]:
DF.update(DF_2)

In [43]:
DF

   Name  Bamboo  Water
0  Dill      20      5
1  Elis      12      4
2  Fatt       7     50