In [3]:
import pandas as pd
import numpy as np

In [4]:
print(f"pandas version info: {pd.__version__}")
print(f"numpy version info: {np.__version__}")

pandas version info: 1.0.5
numpy version info: 1.18.5

# Filter

### 1. 특정 단어를 포함한 row만 골라내기 (get rows that contain specific text/word/string)

In [6]:
panda_members = {'Name' : ['Ace', 'Baam', 'Choco', "Dill", "Eren", "Foo"],
                'Bamboo': [20, np.nan, 7, np.nan, np.nan, 20],
                'Water': [30, 40, 10, np.nan, 11, 20,],
                'Emotion': ["Happy","Very Happy","Sad","Happy after lunch","So so","Very Happy"]}


DF = pd.DataFrame.from_dict(panda_members)


DF[DF.Emotion.str.contains("Happy")]

   Name  Bamboo  Water            Emotion
0   Ace    20.0   30.0              Happy
1  Baam     NaN   40.0         Very Happy
3  Dill     NaN    NaN  Happy after lunch
5   Foo    20.0   20.0         Very Happy