In [2]:
import pandas as pd
import numpy as np

In [5]:
print(f"pandas version info: {pd.__version__}")
print(f"numpy version info: {np.__version__}")

pandas version info: 1.0.5
numpy version info: 1.18.5

# Descriptive

### 1. 기술 통계량 조회하기 (Getting desriptive statistics from dataframe)

In [8]:
panda_members = {'Name' : ['Ace', 'Baam', 'Choco'],
                'Bamboo': [20, 12, 7],
                'Water': [30, 40, 10]}


DF = pd.DataFrame.from_dict(panda_members)

DF.describe()

          Bamboo      Water
count   3.000000   3.000000
mean   13.000000  26.666667
std     6.557439  15.275252
min     7.000000  10.000000
25%     9.500000  20.000000
50%    12.000000  30.000000
75%    16.000000  35.000000
max    20.000000  40.000000