In [3]:
import pandas as pd
import numpy as np

In [4]:
print(f"pandas version info: {pd.__version__}")
print(f"numpy version info: {np.__version__}")

pandas version info: 1.0.5
numpy version info: 1.18.5

# Filter

### 1. 특정 단어를 포함한 row만 골라내기 (get rows that contain specific text/word/string)

In [6]:
panda_members = {'Name' : ['Ace', 'Baam', 'Choco', "Dill", "Eren", "Foo"],
                'Bamboo': [20, np.nan, 7, np.nan, np.nan, 20],
                'Water': [30, 40, 10, np.nan, 11, 20,],
                'Emotion': ["Happy","Very Happy","Sad","Happy after lunch","So so","Very Happy"]}


DF = pd.DataFrame.from_dict(panda_members)


DF[DF.Emotion.str.contains("Happy")]

   Name  Bamboo  Water            Emotion
0   Ace    20.0   30.0              Happy
1  Baam     NaN   40.0         Very Happy
3  Dill     NaN    NaN  Happy after lunch
5   Foo    20.0   20.0         Very Happy

### 2. 데이터프레임 열(시리즈) 내에서 리스트 내의 특정 값이 있는 행 골라내기 (Using a list of values to select rows from Data Frame)

In [11]:
panda_members = {'Name' : ['Ace', 'Baam', 'Choco', "Dill", "Eren", "Foo"],
                'Bamboo': [20, np.nan, 7, np.nan, np.nan, 20],
                'Water': [30, 40, 10, np.nan, 11, 20,],
                 'Hobby' : ['Rolling', 'Sleeping', 'Playing Dead', "Playing Dead", "Sleeping", "Rolling"]}

DF = pd.DataFrame.from_dict(panda_members)

# I want to see pandas with only these two hobbies
list_to_check=['Rolling','Sleeping']

DF[DF.Hobby.isin(list_to_check)]

   Name  Bamboo  Water     Hobby
0   Ace    20.0   30.0   Rolling
1  Baam     NaN   40.0  Sleeping
4  Eren     NaN   11.0  Sleeping
5   Foo    20.0   20.0   Rolling

### 3. **중복되는 행 제거하기, 열(복수 가능) 기준 혹은 전체 행 기준 (Droping duplicated/repeated/redundant rows, in respect to column(s) or full row)**

In [19]:
panda_members = {'Name' : ['Ace','Ace', 'Baam','Ace', 'Choco','Baam','Choco', 'Ace'],
                'Bamboo': [20, 20, 10, 15, 100,10 , 100, 15],
                 'Hobby' : ['Rolling', 'Rolling', 'Playing Dead', "Playing Dead", "Sleeping",'Playing Dead', "Rolling",'Sleeping']}

DF = pd.DataFrame.from_dict(panda_members)

DF

# drop duplicates
DF.drop_duplicates()

# drop duplicates with subset, if "Name" and "Bamboo" values are same, these rows are regarded duplicates.
DF.drop_duplicates(subset=["Name","Bamboo"])