In [3]:
import pandas as pd
import numpy as np

In [4]:
print(f"pandas version info: {pd.__version__}")
print(f"numpy version info: {np.__version__}")

pandas version info: 1.0.5
numpy version info: 1.18.5

# Descriptive

### 1. 기술 통계량 조회하기 (Getting desriptive statistics from dataframe)

In [8]:
panda_members = {'Name' : ['Ace', 'Baam', 'Choco'],
                'Bamboo': [20, 12, 7],
                'Water': [30, 40, 10]}


DF = pd.DataFrame.from_dict(panda_members)

DF.describe()

          Bamboo      Water
count   3.000000   3.000000
mean   13.000000  26.666667
std     6.557439  15.275252
min     7.000000  10.000000
25%     9.500000  20.000000
50%    12.000000  30.000000
75%    16.000000  35.000000
max    20.000000  40.000000

### 2. 열 별로 다양한 기술 통계량 확인하기 (Checking specific statistics from columns)

In [8]:
panda_members = {'Name' : ['Ace', 'Baam', 'Choco', "Dill", "Eren", "Foo"],
                'Bamboo': [20, np.nan, 7, np.nan, np.nan, 20],
                'Water': [30, 40, 10, np.nan, 11, 20,]}


DF = pd.DataFrame.from_dict(panda_members)


DF.agg(
{"Bamboo": ["min", "max", "median", "skew"],
"Water": ["min", "max", "median", "skew"]}
)

           Bamboo      Water
min      7.000000  10.000000
max     20.000000  40.000000
median  20.000000  20.000000
skew    -1.732051   0.570894

### 3. 열 내의 유니크한 카테고리 별로 개수/비율 구하기  (Counting numbers of sample / Calculting proportion per category in a column)

In [10]:
panda_members = {'Name' : ['Ace','Ace', 'Baam','Ace', 'Choco','Baam','Choco', 'Ace'],
                'Bamboo': [20, 20, 10, 15, 100,10 , 100, 15],
                 'Hobby' : ['Rolling', 'Rolling', 'Playing Dead', "Playing Dead", "Sleeping",'Playing Dead', "Rolling",'Sleeping']}

DF = pd.DataFrame.from_dict(panda_members)

In [10]:
DF.Hobby.value_counts()

Rolling         3
Playing Dead    3
Sleeping        2
Name: Hobby, dtype: int64

In [11]:
DF.Hobby.value_counts(normalize=True)

Rolling         0.375
Playing Dead    0.375
Sleeping        0.250
Name: Hobby, dtype: float64