In [1]:
import pandas as pd
import numpy as np

In [2]:
print(f"pandas version info: {pd.__version__}")
print(f"numpy version info: {np.__version__}")

pandas version info: 1.0.5
numpy version info: 1.18.5

# Etc

### 1. 출력 결과 확장하기 (expanding pandas output to be shown)

In [3]:
import pandas as pd
import numpy as np

In [4]:
pd.set_option("display.max_rows", 5) # 출력할 최대 행 갯수를 100으로 설정
pd.set_option("display.max_columns", 3) # 출력할 최대 열 갯수를 500개로 설정
pd.set_option("display.float_format", lambda x : "%.2f" %x) # 출력할 float의 소숫점 자릿수 제한

panda_members = {'Name' : ['Ace', 'Baam', 'Choco', "Dill", "Eren", "Foo"],
                'Bamboo': [20.12345678, np.nan, 7, np.nan, np.nan, 20.12345678],
                'Water': [30.12345678, 40, 10, np.nan, 11, 20],
                'Very_Cute': [True, False, True, True, True, True]}

DF = pd.DataFrame.from_dict(panda_members)

DF

    Name  ...  Very_Cute
0    Ace  ...       True
1   Baam  ...      False
..   ...  ...        ...
4   Eren  ...       True
5    Foo  ...       True

[6 rows x 4 columns]

In [5]:
pd.set_option("display.max_rows", 200) # 출력할 최대 행 갯수를 100으로 설정
pd.set_option("display.max_columns", 100) # 출력할 최대 열 갯수를 500개로 설정
pd.set_option("display.float_format", lambda x : "%.10f" %x) # 출력할 float의 소숫점 자릿수 제한

In [6]:
DF

    Name        Bamboo         Water  Very_Cute
0    Ace 20.1234567800 30.1234567800       True
1   Baam           nan 40.0000000000      False
2  Choco  7.0000000000 10.0000000000       True
3   Dill           nan           nan       True
4   Eren           nan 11.0000000000       True
5    Foo 20.1234567800 20.0000000000       True